main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.rating span {
    margin: 0.1rem;
}

.bg-primary {
    background-color: chocolate !important;
    border-color: chocolate !important;
}

.btn-primary{
        color: #fff;
        background-color: green !important;
        border-color: green;
}
.btn-primary:hover {
    background-image: none !important;
    border: 1px solid green;
}